.menu {
    width: 200px;
    background-color: rgb(146, 152, 247);
  }
  
   .menu{
    background-color: rgb(248, 155, 194);
    color: whitesmoke;
    display: block;
    padding: 12px;
    text-decoration: none;
  }

  /*.menu.bar1 {
  &:hover {
    background-color: rgb(245, 94, 94);
  }*/
}
/*.menu .bar2{
  &.active {
    background-color: #04aa6d;
    color: white;
  }
}*/

/*.buttonone mag weg later{
    
    position: absolute;
    right:2%;
    bottom:5%;
    transition: width 1000s;
    transition-timing-function: ease-in-out;

    background-color: rgb(240, 169, 88);
    border-width: 60%;
    border-style: solid;

    &:hover{
        width: 50%;
        background-color: yellow;
    }
}

.buttontwo{
    position: absolute;
    right:2%;
    bottom: 14%;
    background-color: rgb(240, 169, 88);
    border-width: 60%;
    border-style: solid;
}*/
  