.container1{
   width: 20%;
   height: 10%;
   border: 10px solid #ffcc5c;
}

   .container1 > div {
      padding: 20px;
      text-align: center;
      font-size: 0.75em;
      color: #8bc747;
   }

   .container1 > div:nth-child(1){
      background-color: rgb(68, 224, 120);
      overflow-wrap: break-word;
   }

   .container1 > div:nth-child(2){
      background-color: rgb(112, 82, 196);
      overflow-wrap: break-word;

   }


/*Media queries, getest op kleuren ? ja*/
/*phone*/
@media screen and (min-width: 320px) {
    
   body {
       background-color: lightgreen;
     } 
   }
/*tablet*/
 @media screen and (min-width: 768px){
   
   body {
       background-color: rgb(197, 76, 76);
        } 
   }

/*laptop*/
 @media screen and (min-width: 1024px){
 
   body {
   background-color: rgb(95, 171, 201);
        }
   }
