/*waarom is backgroundcolor yellowniet zichtbaar ?*/
/*hoe de 3 items evenredigverdeling over hele pagian?*/
.container1{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: yellow;
    grid-template-areas: 
    
    "1item"
    "2item"
    "3item"
    ;
}

.container1 > div:nth-child(1) {
    background-color: rgb(190, 88, 88);
}
.container1 > div:nth-child(2) {
    background-color: rgb(67, 143, 107);
}

.container1 > div:nth-child(3) {
    background-color: rgb(165, 77, 131);
}