.body{
    background-color: lightgrey;
    padding: 10px;
}
.gridcontainer{
    display:grid;
    grid-gap:16px;
    padding: 16px;
}
.testhover{
    color: rgb(192, 32, 32);
&:hover {
    background-color: yellow;
  }

  .boxone {
      opacity: 1;
      transition: 0.6s;
    &:hover {
      opacity: 0.2;
    }
    /*&:active {
      position: relative;
      top: 7px;
      box-shadow: none;
    }*/
}






}
/*img{
    opacity: 1.0;
    filter:alpha(opacity=100);
}

img:hover{
    opacity: 2.0;
    filter:alpha(opacity=20);
}*/
      


    
    @media (min-width: 320px) {
        .gridcontainer{grid-template-columns: repeat(1 1fr);
        }
        .body {
            background-color: blue;
          }
        ;
    }

    @media (min-width: 768px) {
        .gridcontainer{grid-template-columns: repeat(2, 1fr);
        }
        .body {background-color: yellow;}
    }

    @media (min-width: 1024px) {
        .gridcontainer{grid-template-columns: repeat(3, 1fr);
        }
        .body {
            background-color: rgb(71, 189, 150);
          }
    }

   /* @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        .body {
            background-color: red;
          }
    }*/


