.gridcontainer{
    display:grid;
    grid-template-columns: 35% 35% 30%;

}

.gridcontainer > div{
    background:#eee;
    padding: 1em;
    
}

.gridcontainer > div:nth-child(odd){
    background: #ddd;
    padding:  1em;
    }

 .hond {
  width: 100%;
  height: 100%;
  object-fit: cover;
   }

   .boxthree{
    :hover{
      background-color: yellow; 
   }

   /*:hover{
    background-color: yellow; 
         }*/


/*Media queries, getest op kleuren ? ja*/
 /*phone*/
 @media screen and (min-width: 320px) {
     
    body {
        background-color: lightgreen;
      } 
    }
 /*tablet*/
  @media screen and (min-width: 768px){
    
    body {
        background-color: rgb(197, 76, 76);
         } 
    }
 
 /*desktop*/
  @media screen and (min-width: 1024px){
  
    body {
    background-color: rgb(95, 171, 201);
         }
        }