/*opdr1 testimorial*/
.container1{
    width: 20%;
    height: 10%;
    border: 10px solid #fff;
    border-radius: 25px;
    position:relative;
 }
 
    .container1 > div {
       padding: 20px;
       text-align: center;
       font-size: 0.75em;
       color: #8bc747;
    }
 
    .container1 > div:nth-child(1){
       color: #01010c;
       background-color: #fff;
       overflow-wrap: break-word;
       
    }
 
    .container1 > div:nth-child(2){
       color:#c3cfe2;
       background-color: #686de0;
       overflow-wrap: break-word;
       
    }
 
    .hond{
       border-radius: 100%;
       /*
       position: absolute;
       left: 2px;*/
 
       position: absolute;
       margin-left: auto;
       margin-right: auto;
       left: 0;
       right: 0;
      /* text-align: center;*/
    }

 /*opdr2 grid/foto/mediaQ*/
 .gridcontainer1{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-columns:repeat(auto-fit, minmax (250px,1fr));
 }

 .gridcontainer1 > div{
     background:#eee;
     padding: 1em;
     
 }

 .gridcontainer1 > div:nth-child(odd) {
     background: #ddd;
 }

 

.one{
    width: 100%;
    padding-top: 42%;
    }
 
    /*.two{
     
}*/

.three{
    width: 100%;
        padding-top: 42%;
        
    }

/*.four{
     
}

.five{
     
}

.six{
     
}

.seven{
     
}*/










 
 /*Media queries, getest op kleuren ? ja*/
 /*phone*/
 @media screen and (min-width: 320px) {
     
    body {
        background-color: lightgreen;
      } 
    }
 /*tablet*/
  @media screen and (min-width: 768px){
    
    body {
        background-color: rgb(197, 76, 76);
         } 
    }
 
 /*laptop*/
  @media screen and (min-width: 1024px){
  
    body {
    background-color: rgb(95, 171, 201);
         }
    }
