.grid_container {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  background-color: rgb(185, 235, 104);
  padding: 1px;
  border-style: solid;
  border-color: black;
}

.inhoud {
  background-color: rgb(177, 231, 116);
  padding: 50px;
  border-style: solid;
  border-color: rgb(231, 108, 108);
}

.grid_container_button {
  display: grid;
  grid-template-columns: auto;
  border-color: black;
  padding: 10px;
  background-color: rgb(209, 66, 137);
}

.but1 {
  width: 10%;
  height: 8%;
  border-style: solid;
  padding: 2px;
  border-color: black;
  text-align: center;

  position: absolute;
  right: 2%;
  bottom: 5%;
  transition: width 3s;
  transition-timing-function: ease-in-out;

  &:hover {
    width: 50%;
    background-color: yellow;
  }
}

.but2 {
  width: 10%;
  height: 8%;
  border-style: solid;
  padding: 2px;
  border-color: black;
  text-align: center;

  position: absolute;
  right: 2%;
  bottom: 17%;
  transition: width 1000s;
  transition-timing-function: ease-in-out;
}

.but3 {
  width: 10%;
  height: 8%;
  border-style: solid;
  padding: 0.5px;
  border-color: black;
  text-align: center;

  position: absolute;
  right: 2%;
  bottom: 30%;
  transition: width 1000s;
  transition-timing-function: ease-in-out;
}

/*.buttonone{
    
    position: absolute;
    right:2%;
    bottom:5%;
    transition: width 1000s;
    transition-timing-function: ease-in-out;

    background-color: rgb(240, 169, 88);
    border-width: 60%;
    border-style: solid;

    &:hover{
        width: 50%;
        background-color: yellow;
    }
}

.buttontwo{
    position: absolute;
    right:2%;
    bottom: 14%;
    background-color: rgb(240, 169, 88);
    border-width: 60%;
    border-style: solid;
}*/
