.grid-container{
    display: grid;
    grid-template-columns: auto;
    /*border-style: 2em;*/
    border-color: black;
    padding:10px;
    background-color: aquamarine;
}
.but1{
   width: 55px;px;
   hight:10px;
   border-style: solid;
   border-color:black;
   padding: 2px;
   text-align: center;

}